<div class="cell" style="border: 1px solid black;">
    <div class="goal has-text-white">
        <div class="is-size-2">GOAL {{ goal_num }}</div>
        <div class="is-size-5">{{ goal.goal }}</div>
    </div>
    <div class="block" style="margin: 2em;">
        <div class="gradient-container">
            <img src="static/gradient.png" class="gradient-image">
            <img src="static/indicator.png" class="indicator-image" style="left: {{ goal.percentage }}%">
        </div>
        <div class="has-text-left content has-text-black" style="height: 200px;">
            <ul>
                {% for extra_text in goal.extra_text %}
                    <li>{{ extra_text }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
</div>
